<mat-toolbar class="d-flex justify-content-between">
  <div class="d-flex align-items-center" routerLink="/">
    <mat-icon>favorite</mat-icon>
    <span>My App</span>
  </div>
  <div class="d-flex">
    <button
      mat-button
      color="primary"
      routerLink="/products"
      (click)="openDialog()"
      *ngIf="canEdit"
    >
      <mat-icon>menu</mat-icon>
      <span>Add product</span>
    </button>
    <button mat-button color="primary" routerLink="/products">
      <mat-icon>menu</mat-icon>
      <span>Products</span>
    </button>
    <button mat-button color="primary" routerLink="/about-us">
      <mat-icon>groups</mat-icon>
      <span>About us</span>
    </button>
  </div>
</mat-toolbar>
