<div class="d-flex border border-primary">
  <div>
    <span
      ><span
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
        nesciunt, excepturi sint quidem numquam repellat earum nam dolor est
        commodi pariatur alias, obcaecati quis vero accusamus quaerat eum,
        aperiam repellendus?</span
      ><span
        >Veniam neque nobis aut, culpa enim beatae soluta? Natus sapiente
        exercitationem non eveniet iusto explicabo impedit rerum qui rem
        inventore ullam aliquam consequatur voluptates nulla quibusdam
        repudiandae praesentium, ducimus alias.</span
      ><span
        >Provident voluptates hic eos, eveniet doloremque reprehenderit? Vitae,
        tempore atque doloribus illum adipisci ipsam accusamus facilis quaerat
        quibusdam quae explicabo ipsa iste hic impedit iusto est ab deserunt
        similique incidunt.</span
      ><span
        >Fugiat nisi eaque nostrum veritatis vel quae adipisci eum
        exercitationem rem fuga mollitia non error veniam dicta tenetur ad sunt,
        quis, voluptatibus magnam reprehenderit ullam, ab minima nobis.
        Accusamus, impedit.</span
      ><span
        >Quae voluptates, reprehenderit earum pariatur at expedita similique
        eius labore necessitatibus ratione voluptas rem laborum. Vero deleniti
        soluta in veniam sit, culpa cupiditate debitis fuga possimus a
        distinctio recusandae laborum.</span
      ></span
    >
  </div>
  <div>
    <span
      ><span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
        consequuntur inventore reprehenderit, quae voluptatibus, sapiente,
        excepturi labore aliquid quia iste similique? Eius cum earum delectus,
        soluta possimus expedita illo dicta.</span
      ><span
        >Quia natus corrupti facere facilis repudiandae. Natus consequatur
        suscipit architecto harum atque, necessitatibus minima nostrum ut
        blanditiis reiciendis earum! Vitae adipisci excepturi quibusdam.
        Officia, beatae fugiat facere nisi quaerat sed?</span
      ><span
        >Adipisci, error perspiciatis laborum delectus exercitationem non
        consectetur sint perferendis ipsum vitae, est dolorum. Voluptatum
        voluptate accusantium mollitia dolor repellat ab vel iusto numquam
        aliquam aut nostrum, assumenda maiores? Corrupti.</span
      ><span
        >Accusantium id in praesentium magnam, delectus excepturi sapiente,
        doloribus, veritatis provident architecto libero inventore saepe
        expedita. Iure fugit modi saepe nostrum, impedit, repellat earum cum
        facilis in commodi cupiditate? Eius.</span
      ><span
        >Similique, quod neque aut quo nam molestias totam. Atque nostrum totam
        error temporibus! Ducimus, ullam atque modi dignissimos sit nesciunt
        amet tempore, minus vero optio qui officia hic temporibus numquam.</span
      ></span
    >
  </div>
  <div>
    <span
      ><span
        >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi tempora
        voluptates doloribus ut dolore voluptatibus totam, quasi ad corporis
        eaque aperiam recusandae tempore est vel, odit asperiores. Ullam,
        facilis neque.</span
      ><span
        >Ab, sed? Recusandae ab ex quam doloremque perspiciatis accusamus
        sapiente, dignissimos quae obcaecati dolore optio sequi quis architecto
        reiciendis incidunt laborum officia ipsa quidem omnis quod aut harum!
        Odio, minus.</span
      ><span
        >Id qui rem aliquam quae non laudantium ex porro voluptatem et ullam
        sequi est quia praesentium quisquam placeat distinctio voluptatum
        mollitia, labore atque cupiditate pariatur commodi? Laudantium quasi
        saepe quae?</span
      ><span
        >Provident, neque a cumque quam incidunt tempore, in molestias mollitia
        veniam reiciendis ipsum accusamus, magnam excepturi quidem? Asperiores
        dolores blanditiis quibusdam maiores. Recusandae dolore, dolores
        exercitationem maiores rem possimus quae.</span
      ><span
        >Quia, hic perferendis! Reprehenderit exercitationem ut excepturi, porro
        consectetur assumenda voluptatibus ab? Numquam tempore laboriosam
        reiciendis aspernatur expedita omnis quibusdam sed voluptate, natus
        totam, et ad ab, doloribus labore asperiores.</span
      ></span
    >
  </div>
</div>
