.example-card {
  max-width: 220px;
  min-width: 220px;
}

mat-card-header {
  height: 5px;
}

.card-img {
  max-height: 220px;
  min-height: 220px;
  object-fit: contain;
  background-color: white;
}
