.products-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px 10px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: 425px) and (max-width: 725px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 726px) and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.product-card {
  width: 100%;
  max-width: 320px;
}

mat-card-header {
  height: 5px;
}

::ng-deep mat-form-field div.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}


.card-img {
  max-height: 220px;
  min-height: 220px;
  object-fit: contain;
  background-color: white;
}

.product-filter {
  background-color: #3d3a3a;
  padding: 10px 0;
  color: #c2185b;
}

.btn {
  color: #b4728d;
  background-color: #292828;
  cursor: pointer;

  &:disabled {
    color: #fc0069;
    background-color: #fffdfd;
  }
}