
<form class="product-filter" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Select</mat-label>
    <mat-select  formControlName="category">
      <mat-option *ngFor="let category of categoryType"
      [value]="category.name">
        {{category.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput type="text" formControlName="search">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="products-wrapper">
  <mat-card class="product-card" *ngFor="let product of filteredProducts">
    <mat-card-header></mat-card-header>
    <img
      mat-card-image
      src="{{ product.image }}"
      alt="Photo"
      class="card-img"
    />
    <mat-card-content>
      <p>{{ product.title }}</p>
      <p>{{ product.price | currency }}</p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/product', product.id]">
        Details
      </button>
    </mat-card-actions>
  </mat-card>
</div>
