<div class="d-flex justify-content-between p-2">
  <h2 class="mb-0">Add new product</h2>
  <button (click)="onClose()" mat-button><mat-icon>close</mat-icon></button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="d-flex flex-column">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Title</mat-label>
    <input
      type="email"
      matInput
      required
      formControlName="title"
      placeholder="Enter title"
    />
    <mat-error> Please enter a title </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Price</mat-label>
    <input
      type="number"
      matInput
      required
      formControlName="price"
      placeholder="Enter price"
    />
    <mat-error> Please enter price</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Description</mat-label>
    <input
      type="text"
      matInput
      required
      formControlName="description"
      placeholder="Enter description"
    />
    <mat-error> Please enter a description </mat-error>

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Choose one category</mat-label>
    <mat-select formControlName="category" required>
      <mat-option *ngFor="let item of categoryList" value="{{ item.id }}">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button [disabled]="form.invalid" mat-raised-button color="primary" class="p-1" type="submit">
    <mat-icon class="mx-2">add</mat-icon>
    <span>Add product</span>
  </button>
</form>
