@import '/src/styles/variables';

.page-wrapper {
  position: relative;
}

.cart-wrapper {
  padding-top: 55px;
  height: 100%;
}

.card-img {
  object-fit: contain;
  background-color: white;
  max-width: 450px;
}

.btn {
  color: $secondary-color;
  background-color: $dark;
  cursor: pointer;

  &:disabled {
    color: $primary-color;
    background-color: $light-gray;
  }
}