

<div class="page-wrapper">
  <button class="btn action-btn back-btn" mat-stroked-button (click)="back()">
    <span>Back</span>
  </button>


  <div *ngIf="!isLoading" class="cart-wrapper d-flex justify-content-center align-items-center flex-wrap">
    <div class="mb-5">
      <img
        mat-card-image
        src="{{ product.image }}"
        alt="Photo"
        class="card-img px-2 col-md-3 col-12"
      />
    </div>
    <div class="col-md-5 col-12 mx-3 px-3">
      <h1 class="fw-bold">{{ product.title | uppercase }}</h1>
      <hr>
      <h3>{{ product.description }}</h3>
      <hr>
      <p><b>Price: </b>{{ product.price | currency }}</p>

      <div class="d-flex">
        <p ><b>Count: </b>{{ product.rating.count }}</p>
        <p class="mx-2"><b>Rate: </b>{{ product.rating.rate }}</p>
      </div>
      <div class="btn-wrapper">
        <button mat-stroked-button class="btn" [disabled]="initCount(product) === 0" (click)="decrement(product.id)">
          <span>-</span>
        </button>
        <span class="btn-wrapper-counter">{{ initCount(product) }}</span>

        <button mat-stroked-button class="btn" (click)="increment(product)">
          <span>+</span>
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <span class="loader"></span>
  </div>

</div>
