.page-wrapper {
  position: relative;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 55px;
  height: 100%;
}

.back-btn {
  left: 15px;
}


.card-img {
  object-fit: contain;
  background-color: white;
  max-width: 450px;
}