/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-counter {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #b4728d;
    padding: 5px 15px;
  }
}

.action-btn {
  position: absolute !important;
  top: 15px;
  color: #b4728d;
  background-color: #292828;
}