/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-counter {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #b4728d;
    padding: 5px 15px;
  }
}